.modallWrapper{
	position: absolute;
	top:0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	background-color: rgba(91, 91, 91, 0.511);
}